<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      >
  <head th:replace="plantillas/plantillaCssScript :: head">
    <title>Trabajadores</title>
  </head>
  <body>

    <section th:replace="plantillas/plantillaPrincipal :: headerPrincipal"></section>

    <section>
      <div class="container">
        <div class="row">
          <div class="col-md-3">
            <ul class="list-group text-primary">
              <li class="list-group-item bg-dark">
                <a th:href="@{/pdf/crearPdf}">[[#{menu.generarListaPdf}]]</a>
              </li>
              <li class="list-group-item bg-dark">FUTURA OPCION</li>
              <li class="list-group-item bg-dark">FUTURA OPCION</li>
              <li class="list-group-item bg-dark">FUTURA OPCION</li>
              <li class="list-group-item bg-dark">FUTURA OPCION</li>
            </ul>
          </div>

          <div class="col-md-9">
            <table class="table text-primary table-responsive">
              <thead class="thead-dark">
                <tr>
                  <th scope="col">[[#{trabajador.idTrabajador}]]</th>
                  <th scope="col">[[#{trabajador.nombre}]]</th>
                  <th scope="col">[[#{trabajador.apellido}]]</th>
                  <th scope="col">[[#{trabajador.fechaNacimiento}]]</th>
                  <th scope="col">[[#{trabajador.rut}]]</th>
                  <th scope="col">[[#{trabajador.afp}]]</th>
                  <th scope="col">[[#{trabajador.salud}]]</th>
                  <th scope="col">[[#{menu.opciones}]]</th>

                </tr>
              </thead>
              <tbody>


                <tr th:each="trabajador, contador : ${trabajadores}">

                  <td>[[${trabajador.idTrabajador}]]</td>
                  <td>[[${trabajador.nombre}]]</td>
                  <td>[[${trabajador.apellido}]]</td>
                  <td>[[${#dates.format(trabajador.fechaNacimiento ,'yyyy-MM-dd')}]]</td>
                  <td>[[${trabajador.rut}]]</td>
                  <td>[[${trabajador.afp}]]</td>
                  <td>[[${trabajador.salud}]]</td>
                  <td>

                    <a th:href="@{/trabajadores/eliminarTrabajador(idTrabajador=${trabajador.idTrabajador})}"
                       class="btn btn-inline btn-dark">
                      <i class="fas fa-user-times"></i>
                      <!--[[#{menu.borrar}]]-->
                    </a>
                    
                    <a th:href="@{/trabajadores/editarTrabajador/} + ${trabajador.idTrabajador}"
                       class="btn btn-inline btn-dark">
                      <i class="fas fa-edit"></i>
                      <!--[[#{menu.editar}]]-->
                    </a>


                  </td>

                </tr>

              </tbody>
            </table>
          </div>
        </div>
      </div>
    </section>

    <section th:replace="plantillas/plantillaPrincipal :: footerPrincipal"></section>







  </body>
</html>
