<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      >
  <head>
    <title>Plantilla Principal</title>
    <meta charset="UTF-8">
  </head>
  <body>

    <section th:fragment="headerPrincipal">
      
        <div class="container mb-2 mt-2">
          <div class="row card bg-dark text-primary">
            <div class="col text-center mb-2 mt-2">
              
              <a th:href="@{/index}" class="btn btn-primary float-right">
                [[#{menu.opciones}]]</a>
              
                <a th:href="@{/index}" class="text-decoration-none">
                [[#{inicio.titulo}]]</a>
              
              <a th:href="@{/index}" class="btn btn-primary float-left"><i class="fas fa-chevron-left"></i>
                [[#{menu.regresar}]]</a>
            </div>
          </div>
        </div>
    </section>
    
    <section th:fragment="footerPrincipal">
      <div class="container mt-2">
        <div class="row card bg-dark text-primary">
          <div class="col text-center">
            <small>[[#{inicio.footer}]]</small>
          </div>
        </div>
      </div>
      
      
    </section>
  </body>
</html>
