<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      >
  <head th:replace="plantillas/plantillaCssScript :: head">
    <title>INICIO PDF</title>
  </head>
  <body>

    <section th:replace="plantillas/pdf/plantillaPrincipalPdf :: headerPlantillaPdf"></section>
    <section th:replace="plantillas/pdf/plantillaPrincipalPdf :: datosTrabajador"></section>

    <section id="contenido">
      <div class="container m-2">
        <div class="row">
          <div class="col-md-3">
            <div class="card mx-auto bg-info">
              <div class="card-header text-center">
                <a th:href="@{/pdf/crearPdfLiquidacion(idTrabajador=${trabajador.idTrabajador})}" class="btn btn-dark text-white">
                  <i class="fas fa-file-pdf"></i> [[#{pdf.generarLiquidacion}]]
                </a>
              </div>

            </div>
          </div>
          <div class="col-md-3">
            <div class="card mx-auto bg-warning">
              <div class="card-header text-center">
                <a th:href="@{/pdf/crearPdfContrato(idTrabajador=${trabajador.idTrabajador})}" class="btn btn-dark text-white">
                  <i class="fas fa-file-pdf"></i> [[#{pdf.generarContrato}]]
                </a>
              </div>

            </div>
          </div>
          
          <div class="col-md-3">
            <div class="card mx-auto bg-success">
              <div class="card-header text-center">
                <a th:href="@{/vistasPdf/vistaGenerarLiquidacion}" class="btn btn-dark text-white">
                  <i class="fas fa-file-pdf"></i> [[#{pdf.generarFiniquito}]]
                </a>
              </div>

            </div>
          </div>
          
          <div class="col-md-3">
            <div class="card mx-auto bg-secondary">
              <div class="card-header text-center">
                <a th:href="@{/vistasPdf/vistaGenerarLiquidacion}" class="btn btn-dark text-white">
                  <i class="fas fa-file-pdf"></i> [[#{pdf.generarFichaTrabajador}]]
                </a>
              </div>

            </div>
          </div>
          
        </div>
      </div>
    </section>

    <section th:replace="plantillas/pdf/plantillaPrincipalPdf :: footerPlantillaPdf"></section>

  </body>
</html>
